.catalogPage {
    display: flex;
    flex-direction: column;
    padding: 48px 64px;
    gap: 32px;
}

.description {
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color);
}

.content {
    display: flex;
    gap: 32px;
}

.filters {
    width: 360px;
    flex-shrink: 0;
}

.filterSection {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.filterTitle {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-percent-base);
    color: var(--main-color);
    margin: 0;
}

.filterGroup {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.filterLabel {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: var(--line-height-percent-base);
    color: var(--text-color);
}

.checkboxGroup {
    display: flex;
    flex-direction: row;
    gap: 8px 12px;
    flex-wrap: wrap;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.campersGrid {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.loadMoreBtn {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--border-radius-xl);
    border: 1px solid var(--gray-light-color);
    background-color: var(--white-color);
    color: var(--main-color);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-base);
    cursor: pointer;
    align-self: center;
    margin-top: 24px;
}

.loadMoreBtn:hover {
    border-color: var(--button-color);
}

.filtersButton {
    width: var(--button-width);
    padding: 16px 60px;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-xl);
    border: 1px solid var(--gray-light-color);
    background-color: var(--button-color);
    color: var(--white-color);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-base);
    cursor: pointer;
    margin-top: 16px;
}

.filtersButton:hover {
    background-color: var(--button-hover-color);
}

hr {
    border: none;
    height: 1px;
    background-color: var(--gray-light-color);
    margin: 24px 0;
}
