.detailsPage {
    display: flex;
    flex-direction: column;
    padding: 48px 64px;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.camperDetails {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 100%;
    margin-bottom: 60px;
}

.nameContainer h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.locationContainer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: var(--font-size-base);
    line-height: var(--line-height-percent-base);
    color: var(--main-color);
}

.rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.location {
    display: flex;
    align-items: center;
    gap: 4px;
}

.price {
    display: flex;
    align-items: center;
    gap: 12px;
}

.imageContainer {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 24px;
    flex-direction: row;
    gap: 48px
}

.imageContainer img {
    height: 312px;
    object-fit: cover;
    width: 292px;
    border-radius: var(--border-radius-sm);
}

.description {
    font-size: var(--font-size-base);
    line-height: var(--line-height-percent-base);
    color: var(--text-color);
    margin: 0;
}

.moreDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 24px 40px;
    flex-wrap: wrap;
    width: 100%;
}

.tabs::after {
    content: "";
    border-bottom: 2px solid var(--gray-light-color);
    width: 100%;
    display: flex;
    z-index: 100;
}

.tabs li {
    font-size: 20px;
    line-height: var(--line-height-percent-base);
    color: var(--main-color);
    cursor: pointer;
    position: relative;
}

.tabs li.active::after {
    content: "";
    border-bottom: 4px solid var(--button-color);
    width: 100%;
    position: absolute;
    top: 53px;
    left: 0;
    z-index: 101;
}

.bookingForm {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--gray-light-color);
    gap: 8px;
    width: 640px;
    padding: 24px;
    box-sizing: border-box;
}

.bookingTitle {
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
    padding: 0;
    margin: 0;
}

.bookingSubtitle {
    font-size: 16px;
    line-height: var(--line-height-percent-base);
    color: var(--text-color);
    margin: 0 0 24px 0;
    padding: 0;
}
